@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*, HTML{
  scroll-behavior: smooth;
}

.carousel img{
  height: 700px;
}

.heading{
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  margin: 20px 0;
}